/* main sett */
* {
    margin: 0;
    padding: 0;
  }
  html {
    position: relative;
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Poppins', sans-serif
  }
  div {
    /* background-color: #ff0000; */
    min-height: 140px;
    padding-top: 70px;
    color: #333;
  }
  h2 {
   text-align: center;
   font-size: 1.5em;
  }
  /* main sett */  
  .name {
    background-color: #333;
    height: 50px;
    width: 100%;
    position: fixed;
    color: lightgray;
    top: 0;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
  }
  .name ul {
    display: flex;
    position: absolute;
    align-items: center;
    list-style: none;
    width: auto;
    height: 100%;
    /* justify-content: space-evenly; */
    /* background-color: cyan; */
    justify-content: end;
    right: 0;
    margin-right: 70px;
  }
  .name ul li a:hover {
    color: rgb(255, 255, 255);
  }
  .name ul li a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(196, 191, 191);
    /* background-color: aqua; */
    margin-right: 0;
    margin: 0 7px;
  }
  .menu-toggle {
    display: none;
    flex-direction: column;
    height: auto;
    /* background-color: black; */
    justify-content: center;
    position: relative;
    margin-right: 40px;
    /* transform: rotate(2deg); */
  }
  .menu-toggle input {
    position: absolute;
    width: 90px;
    height:23px;
    left: -31px;
    top: 13px;
    opacity: 0;
    cursor: pointer;
  }
  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    margin: 2px 0;
    /* transform: rotate(2deg); */
  }
  .name h2 {
    margin-top: 8px;
    letter-spacing: 2px;
  }
  .name h2 span {
    color: white;
  }
  .name h2 a {
    text-decoration: none;
    list-style-type: none;
    color: lightgrey;
  }
  
  .social {
    position: fixed;
    height: 100px;
    width: 10px;
    top: 80px;
    right: 0;
    margin-right: 30px;
  }
  .social ul li {
    list-style: none;
    margin-bottom: 5px;
  }
  .social ul li a:link {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  }
  .social ul li a:hover {
    color: darkgray;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  }
  .social ul li a:active {
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  }
  .social ul li a:visited {
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  }
  
  header {
    display: flex;
    flex-direction: column;
    height: 672px;
    width: 100%;
    font-size: 0.6em;
    align-items: center;
    justify-content: center;
    color: lightgray;
    text-transform: uppercase;
    line-height: 50px;
    background-image: url('assets/background/header-bg.jpg');
    background-attachment: fixed;
    background-position: 0 50px;
  }
  header h1 {
    letter-spacing: 5px;
  }
  header h1 span {
    color: white;
    font-size: 1.8em;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    font-weight: 800  ;
  }
  
  .about {
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about h2 {
    margin-bottom: 50px;
  }
  .about p {
    margin: 0 20px;
    font-weight: 400;
    width: 90%;
  }
  .about span {
    background-color: white;
    border: solid 2px white;
    height: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .about hr {
    background-color: #3F5765;
    width: 20px;
    height: 0.5px;
    border: none;
    display: inline-block;
    border-radius: 1px;
  }
  table {
    margin-top: 20px;
    width: 95%;
  }
  .about .contact {
    width: 335px;
    /* background-color: black; */
  }
  .about .contact td:nth-child(1) {
    font-weight: 600;
  }
  .about .programming tr td hr {
    min-width: 96%;
    vertical-align: middle;
    margin-left: 2%;
    min-height: 2px;
  }
  .about .programming .language {
    /* border-radius: 2px; */
    width: 100px;
    text-align: right;
    font-weight: 600;
    /* background-color: black; */
  }
  .about .programming .level {
    /* border-radius: 2px; */
    width: 0px;
    text-align: left;
    font-weight: 600;
  }
  
  .quote {
    background-image: url('assets/background/quote-bg.jpg');
    background-attachment: fixed;
    background-position: 0 -120px;
    color: rgb(255, 255, 255);
    min-height: 140px;
    padding-top: 70px;
  }
  .quote footer {
    text-align: center;
    font-style: italic;
    font-weight: 200;
  }
  
  .interest {
    padding-bottom: 60px;
  }
  .image {
    gap: 10px;
  }
  .interest .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
  .interest .image p {
    margin: 0 1%;
    color: whitesmoke;
  }
  .interest .image em {
    background-color: #3F5765;
    display: inline-block;
    min-width: 100px;
    border: solid 2px #3F5765;
    border-radius: 50px;
    text-align: center;
  }
  .interest img {
    height: 200px;
    width: 250px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    /* border: 2px solid black; */
    box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);
  }
  
  .goals {
    color: whitesmoke;
    justify-content: space-evenly;
    padding-bottom: 70px;
    line-height: 50px;
    background-image: url('assets/background/goal-bg.jpg');
    background-attachment: fixed;
    background-position: 0 -20px;
  }
  .goals h2 span {
    font-weight: 200;
  }
  
  .education {
    height: 300px;
    padding-bottom: 880px;
  }
  .education .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .education aside {
    border: solid 1px lightgray;
    width: 470px;
    margin: 5px;
    background-image: url(assets/background/bg-kertas.jpeg);
    box-shadow: 2px 5px 5px 1px rgba(139, 134, 134, 0.5);
    border-radius: 20px;
    /* background-color: whitesmoke; */
    border-radius: 2px;
    line-height: 25px;
  }
  .education aside h4, p {
    margin: 20px;
  }
  .education aside p {
    font-weight: 400;
  }
  .education aside p span {
    background-color: #3F5765;
    border: solid 5px #3F5765;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    color: whitesmoke;
  }
  
  .copyright {
    background-color: #333;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: whitesmoke;
  }
  
  /* responsive */
  @media screen and (min-width: 720px) {
    .name h2 {
      text-align: left;
      margin-left: 20px;
    }
    
    .goals {
      display: flex;
      padding-bottom: 50px;
    }
    
    .interest .image {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
    }
    
    .interest .image img {
      height: 200px;
      width: 300px;
      margin: 2px;
    }
    
    .interest .image p {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .menu-toggle {
      display: flex;
    }
    .name h2 {
      /* background-color: red; */
      width: 500px;
      margin-left: 20%;
    }
    .name ul{
      /* display: block; */
      position: absolute;
      right: 0;
      margin-right: 0;
      flex-direction: column;
      background-color: #333;
      height: 100vh;
      justify-content: space-evenly;
      z-index: -1;
      width: 80%;
      transform: translateX(100%);
      transition: all 1s;
      opacity: 0;
    }
    .name ul.slide {
      transform: translateX(0);
      opacity: 1;
    }
    .name ul li a.slide {
      transform: translateX(0);
    }
    .name h2 {
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .menu-toggle {
      /* background-color: black; */
      left: 20px;
    }
    .menu-toggle:hover {
     opacity: 0.3;
    }
    /* .menu-toggle input {
      opacity: 1;
    } */
  }
  @media screen and (max-width: 361px) {
    .quote {
      padding-top: 60px;
      min-height: 160px;
      /* justify-content: center; */
      /* align-items: center; */
      /* text-align: center; */
    }
    .interest img {
      height: 175px;
      width: 225px;
  
    }
    /* .name ul {
      display: none;
    } */
  }
  /* responsive */